* {
	border: 1px solid red;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial;
	text-decoration: none;
}

header {
	background: #efefef;
	background-size: cover;
}

header #bar {
	background: #273b47;
}

header #bar > * {
	display: inline-block;
	margin: 5px;
}

header #bar nav {
	border-color: white;
	position: absolute;
	top: 10px;
	right: 5px;
}

header #bar nav *{
	color: white;
	display: inline-block;
}

header #bar nav ul {
	//margin-top: 3px;
}

header #bar nav ul li{
	border-right: 1px solid white;
	padding: 3px 12px 0;
}

header #bar nav ul li:last-child {
	border-right: none;
}

header #bar nav .button {
	background: #FF4842;
	font-size: .8em;
	padding: 5px 10px;
	position: relative;
	top: -3px;
}

.contenedor {
	color: #5e5e5e;
	margin: 12px auto;
	width: 1024px;
}

header #bar .portada {
	
}

header .portada .form-buscador {
	height: 50px;
	width: 240px;
}




